.navbar{
    display: flex;
    justify-content:space-around;
}
.logo img{
    height:50px ;
    width: 50px;
}
.search1 input{
    width:450px;
    height:30px;
}
.content1{
    display: flex;
 position: relative;
 left: 150px;
 border-bottom: 10px;
}
.search2 img{
    height:35px;
    width:35px;
    border-radius:15px;
    background-color: lightsalmon;
}
.content3{
    background-color:lightslategray;
    height:400px;
    display: flex;
   }
h2{
    color:black;
    margin-left: 50px;
   padding:40px;
}
.content2{
    display:flex;
    
}
button img{
    height:20px;
    width:20px;
}
.content3 img{
position: relative;
height:150px;
width:150px;
border-radius: 85px;
top: 150px;
right: 130px;
}
.content3 h4{
    position: relative;
    top: 300px;
    right: 200px;
}
.content4 img{
    position: relative;
    height: 150px;
    width:150px;
    border-radius: 85px;
    top: 150px;
right: 140px;
}
.content4{
    display: flex;
}
 .content4 h5{
    position: relative;
    top: 300px;
    right: 270px;
    
}
span{
    position: relative;
    top:390px;
right:330px;
}
.content5{
    position: relative;
    top: 300px;
right:100px;
display: flex;
box-shadow: 30px black;
}
.content5 img{
    height:390px;
    width:450px;
    border-radius:10px ;
    position: relative;
  top:200px;
    right:170px;
  }
  .content5 h3{
    position:relative;
    right:550px;
    top:590px;
  }